:root {
  --flowtext: system-ui, sans-serif;

  --white-color: hsl(0, 0%, 100%);

  --background: hsl(289, 100%, 91%);
  --foreground: hsl(0, 0%, 9%);

  --backdrop: hsl(0, 0%, 9%, 0.2);

  --featuredBg: hsl(225, 73%, 57%);
  --featuredFg: hsl(0, 0%, 100%);

  --mainMenuBg: hsl(57, 15%, 27%);
  --mainMenuFg: hsl(0, 0%, 100%);

  --fluid-18-24: clamp(1.125rem, 0.9rem + 1vw, 1.5rem);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 4%);
    --foreground: hsl(0, 0%, 93%);

    --backdrop: hsl(0, 0%, 93%, 0.2);
  }
} */

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
figure,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
legend,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}

img/* ,
fieldset */ {
  border: none;
}

blockquote,
q {
  quotes: none;
}

body *,
*:after,
*:before {
  box-sizing: border-box;
}

legend {
  appearance: none;
  display: block;
}

button,
label,
summary {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body,
button,
input,
table,
textarea,
select {
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--flowtext);

  background-color: var(--background);
  color: var(--foreground);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  --btnFontSize: 1em;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  display: inline-flex;
  font-size: var(--btnFontSize);
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  scroll-behavior: smooth;
}

#signin {
  margin-inline: auto;
  width: min(100% - 2em, 40rem);
}

#signin label {
  display: flex;
  flex-direction: column;

  margin-block: 1rem;

  font-size: var(--fluid-18-24);
  font-weight: 700;
}

#signin input {
  border: none;
  background-color: var(--white-color);

  border-radius: 1rem;

  padding: 1.125rem 1rem;

  border: 0.098em solid hsla(286, 84%, 50%, 0);
}

#signin input:focus {
  outline: 0;
  border-color: hsla(286, 84%, 50%, 1);
}

#signin button[type=submit] {

  --btnFontSize: 18px;
  background-color: hsla(319, 100%, 10%, 1);
  padding: .625rem 1.25rem;

  font-weight: 700;
  color: var(--white-color);
  border-radius: 1rem;
}


@media (hover: hover) {

}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
} */

@media (max-width: 62.625rem) {

}

@layer {}