.profile__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.profile__header {
  display: flex;
  padding: 30px 20px 30px;
  margin: 0 10px;
  justify-content: row;
  align-items: center;
  border-bottom: solid 2px royalblue;
}

.profile__body {
  height: 100%;
  display: flex;
  align-items: center;
}

.profile__footer {
  width: 100%;
  display: flex;
  align-items: center;
}